# 1. GLOBAL & OS FILES
node_modules/
dist/
npm-debug.log
.DS_Store
.env

# 2. FRONTEND (React)
frontend/node_modules/
frontend/build/
frontend/.env

# 3. BACKEND (Node.js/Express)
backend/node_modules/
backend/.env
backend/wallet/
backend/contract.pdf

# Local Demo Credentials & Temporary Scripts
Demo_credentials.txt
backend/Demo_credentials.txt
backend/src/addEngineer.js
backend/src/fixpsw.js
backend/src/seedUsers.js

# 4. BLOCKCHAIN (Hyperledger Fabric)
fabric-samples/
install-fabric.sh
chaincode/land-registry/dist/
chaincode/land-registry/node_modules/